/* general stuff */
body, body *{
    margin: 0px;
    padding: 0px;

    color: rgb(255, 255, 255);

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}
h1{
    font-size: 42px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.800);
    font-weight: 800;
    letter-spacing: 1px;
}
button:hover, li:hover{
    cursor: pointer;
    transition: all .1s;
}
.dark-blue{
    color: #00A3E0;
    cursor: pointer;
    font-size: 16px;

    padding-left: 4px;
    padding-right: 4px;
}
p, span{
    font-size: 18px;
    max-width: 550px;
    line-height: 160%;
    text-align: justify ;
}

/*root container of the page */
#root-container{
    display: grid;
    grid-template-rows: repeat(3, auto);

    max-width: 100vw;
}

/* header */
.header{
    grid-row: 1;

    height: 160px;
    display: grid;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    justify-items: center;
}
.header nav{
    display: grid;
    
    align-self: center;
    justify-self: center;
}
.header nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    width: 85vw;
}
nav ul li{
  list-style-type: none; 
  display:inline;

  color: rgba(0, 0, 0, 0.900);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
nav ul li:hover{
    color: #00a3e0;
}
.active{
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

/* footer */
.footer{
    grid-row: 4;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr .5fr;

    background-color: rgba(128, 128, 128, 0.158);
}
.footer ul {
    grid-column: 1;

    align-self: center;
}
.footer ul li {
    display: inline;
}
.footer ul li a{
    color: #888B8D !important;
    font-weight: normal !important;
    font-size: 16px;
    margin-left: 40px;
}
.footer ul li:hover{
    color: #00a3e0;
}
.footer ul li a:hover{
    color: #00a3e0;
}
.footer a{
    grid-column: 3;
    
    height: 40px;
    width: 40px;
    margin-right: 40px;
    text-decoration: none;
    
    justify-self: end;
    align-self: center;

}
.footer a img{
    height: 40px;
    width: 40px;
    
}
.footer a img:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}
/* END GENERAL STUFF */
/*                   */

/*-------------------*/

/*                   */
/*   THE MAIN PAGE   */
.main {
    display: grid;

    grid-template-rows: 600px 600px;
}

/* MAIN the main part of the page */
.main .homemain{

    z-index: 1;
    grid-row: 1;

    height: 600px;
    display: grid;


    align-items: center;
    justify-items: start;

    background-image: url(../images/home/watersplashing.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    
    box-shadow: inset 110px 110px 111px 110px 
    rgba(0, 0, 0, 0.5); 
    
    transition: all 0s; 
}

.main .homemain h1{
    width: 350px;
    margin-left: 20px;
    line-height: 1.1;
    font-weight: 800;
    

    text-align:left;
}

/* MAIN secion below main image */
.main .mission-purpose{
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    height: 600px;

    color: white;
    text-shadow: none;
    font-weight: 500;
}
.main .our-mission{
    grid-column: 1;

    height: 600px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10px auto auto 1fr;

    background: linear-gradient(
        135deg
        ,#00a3e0 0%,#88c7eb 100%);
}
.main .our-purpose{
    grid-column: 2;

    height: 600px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10px auto auto 1fr;

    background: linear-gradient(
        135deg
        ,#7dab0b 0%,#8bc400 100%);
}
.main .our-mission h1, .our-purpose h1{
    height: 100px;
    align-items: flex-end;
    font-size: 40px;

    padding-left: 50px;
    padding-top: 40px;
}
.main .our-mission p, .our-purpose p{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;

    max-width: 550px;

    line-height: 1.5;

}
/* END MAIN PAGE */
/*               */

/*---------------*/

/*               */
/*  ABOUT PAGE   */
.about-container{
    display: grid;
    grid-template-rows: 180px 800px auto;
}

/*ABOUT H1*/
.about-h1{
    grid-row: 1;
    display: grid;
    align-content: center;
    height: 180px;

    background-color: #002f6c;
    ;
}
.about-h1 h1{
    padding-left: 24px;
}

/* ABOUT SECTION ONE */
.about-section-one{
    grid-row: 2;
    height: 800px;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.about-section-one .about-section-one-tl{
    max-height: 450px;
    grid-row: 1;
    grid-column: 1;

    padding: 30px;

    background: linear-gradient(
    135deg,#00a3e0 0%,#88c7eb 100%);
}
.about-section-one .about-section-one-br{

    grid-row: 2;
    grid-column: 2;

    max-height: 450px;

    padding: 30px;

    background: linear-gradient(
    135deg,#7dab0b 0%,#8bc400 100%);
}
.about-section-one .about-section-one-tr{
    grid-row: 1;
    grid-column: 2;   

    background-image: url(../images/about/aboutpageimg1.jpg);
    background-size: cover; 
} 
.about-section-one .about-section-one-bl{
    grid-row: 2;
    grid-column: 1;   

    background-image: url(../images/about/aboutpageimg2.jpg);
    background-size: cover; 
} 
.about-section-one * h2{
    font-size: 36px;
    padding-bottom: 24px;
}
.about-section-one * p{
    max-width: 500px;
    line-height: 150%;
}

/* ABOUT SECTION TWO */
.about-section-two{
    grid-row: 3;
    max-height:650px;

    padding: 24px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    background-color: white;
}
.about-section-two .about-section-two-l {
    grid-column: 1;
}
.about-section-two .about-section-two-r{
    grid-column: 2;
}
.about-section-two * h2{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    color: #002F6C;
}
.about-section-two * p{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;

    color: rgba(0, 0, 0, 0.800);
    font-size: 16px;
    line-height: 175%;
}   
/* END ABOUT PAGE */
/*                */

/*----------------*/

/*                */
/*  NEWSROOM PAGE */
.newsroom-container{
    display: grid;
    grid-template-rows: 180px 150px 1400px 100px;
}

/* newsroom h1 */
.newsroom-h1{
    grid-row: 1;
    display: grid;
    align-content: center;
    height: 180px;

    background-color: #002f6c;

}
.newsroom-h1 h1{
    padding-left: 24px;
}

/* newsroom press releases */
.newsroom-press-releases{
    grid-row: 2;
    display: grid;
    align-content: end;
    height: 150px;

    padding-bottom: 12px;
}
.newsroom-press-releases h2{
    padding-left: 24px;
    font-size: 40px;
    font-weight: 800;
    color: #002F6C;;

    margin-bottom: 12px;
}
.newsroom-press-releases span{
    padding-left: 24px;
    color: black;
}

/* newsroom news container */
.newsroom-news-container{
    grid-row: 3;
    height: 1400px;
    grid-template-rows: repeat(7, 1fr);
}
.news-item{
    display: grid;
    grid-template-columns: .3fr 2fr;
    border-top: 1px solid grey;

    padding-top: 10px;
    padding-bottom: 10px;
}
.news-item .news-left{
    grid-column: 1;
    width: 120px;
    padding: 20px;

    display: grid;
    align-content: center;
    justify-content: center;
}
.news-item .news-right{
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, auto);

    width: 600px;
}
.news-item * img{
    height: 30px;
    width: 30px;

    cursor: pointer;
    opacity: .5;
    
    margin-left: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.news-item * p{
    padding-left: 10px;
    line-height: 140%;

    color: rgba(0, 0, 0, 0.95);
    font-size: 18px;
    font-weight: 500;
}
.news-item * h1{
    color: #888B8D;;
    text-shadow: none;
    text-align: center;
    font-weight: 500;
    font-size: 60px;
}
.news-item * span{
    color: #888B8D;;
    font-size: 16px;
    line-height: 175%;
    font-weight: 500;
}
.news-item * h5{
    color: #002F6C;
    padding-left: 10px;
    font-size: 22px; 
    cursor: pointer;
    font-weight: 500;

    line-height: 175%;
}

/* newsroom page turner */
.newsroom-page-turner{
    grid-row: 4;
    height: 100px;

    display: grid;
    align-content: center;
}
.newsroom-page-turner ul{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    width: 400px;

    padding-left: 20px;
    
    justify-items: center;
    align-items: center;
}
.newsroom-page-turner ul li{
  list-style-type: none; 
  display:inline;

  color: black;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

  padding: 12px;
}
.newsroom-page-turner ul li:nth-of-type(1){
    background-color: #00A3E0;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    color: white;
}
/* END NEWSROOM PAGE */
/*                   */

/*-------------------*/

/*                   */
/*   CAREERS PAGE    */
.careers-container{
    display: grid;
    grid-template-rows: 180px 700px 1200px;
}

/* careers h1 */
.careers-h1{
    grid-row: 1;
    display: grid;
    height: 180px;

    justify-content: center;
    align-content: center;

    background: linear-gradient(
    135deg
    ,#7dab0b 0%,#8bc400 100%)!important;
}

/* careers, a message */
.container-careers-a-message{
    grid-row: 2;
    display: grid;
    height: 500px;
    background-color: rgb(255, 255, 255);
    align-content: center;
    justify-content: center;
}
.careers-a-message{
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    
    position:relative;
    bottom: 25px;

    padding: 30px;
    margin-bottom: 30px;
}
.careers-a-message * img.round{
    height: 192px;
    width: 173px;

    border-radius: 173px;
    float: right;
    margin: 10px 10px 0 0; 

}
.careers-a-message *{
    color: rgba(0, 0, 0, 0.900);
    font-size: 16px;

    padding-top: 11px;

    line-height: 150%;
} 

/* careers at */
.careers-at{
    grid-row: 3;
    display: grid;
    height: 1200px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.careers-at-tl{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto auto auto 1fr;

    background: linear-gradient(
    135deg,#00a3e0 0%,#88c7eb 100%);  
}
.careers-at-tr{
    grid-row: 1;
    grid-column: 2;

    background-image: url(../images/careers/hardhat.jpg);
    background-size: cover;
}
.careers-at-bl{
    grid-row: 2;
    grid-column: 1;
    
    background-image: url(../images/careers/hardhat2.jpg);
    background-size: cover;
}
.careers-at-br{
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto auto auto 1fr;
    background: linear-gradient(
    135deg,#002f6c 0%,#004db1 100%);
}
.careers-at * h2{
    font-size: 40px;
    font-weight: 700;
    padding-left: 40px;
    margin-bottom: 10px;
}
.careers-at * h3{
    padding-top: 40px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.careers-at * p, 
.careers-at * .bullets{
    padding-left: 40px;
    padding-right: 20px;

    max-width: 550px;

    color: white;
    font-size: 18px;
    line-height: 150%;
}
.careers-at * li{
    margin-left: 40px;
    margin-right: 40px;

    color: white;
    font-size: 16px;
    line-height: 175%;
    font-weight: 500;
    text-decoration: dotted;
    cursor: auto; 
}
.careers-at-tl button{

    height: 60px;
    width: 190px;
    font-weight: 600;

    font-size: 16px;
    text-transform: uppercase;
    color: white;

    background-color: rgb(50, 160, 194);
    border-radius: 40px;

    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: solid 3px #fff;
    text-transform: uppercase;
    line-height: 1.2;
}
.careers-at-tl button:hover{
    background: #fff;
    color: #002F6C !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: solid 3px #fff;
    text-transform: uppercase;
    text-decoration: none !important;
}
#tlbuttons{
    margin-top: 10px;
}
.buttons{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto 1fr;
    margin-left: 30px;
}
.buttons ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
    grid-template-rows: 1fr;
    align-self: center;
    justify-self: start;

    padding-left: 0!important;
}
.buttons * li{
    width: 30px;
} 
.buttons * a::before{
    background-image: url('../images/careers/facebook.png');
}
.buttons * img{
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.careers-at-br button{
    height: 60px;
    width: 190px;
    font-weight: 600;

    font-size: 16px;
    text-transform: uppercase;
    color: white;

    background-color: rgb(50, 160, 194);
    border-radius: 40px;

    background: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: solid 3px #fff;
    text-transform: uppercase;
    line-height: 1.2;
}
.careers-at-br button:hover{
    background: #fff;
    color: #002F6C !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: solid 3px #fff;
    text-transform: uppercase;
    text-decoration: none !important;
}
.special{
    color: #002F6C;
    cursor: pointer;
}

/* END CAREERS  PAGE */
/*                   */

/*-------------------*/

/*                   */
/*  COMMITMENT PAGE  */
.commitment-container{
    display: grid;
    grid-template-rows: 180px 1500px;
}
 /* commitment h1 */
.commitment-h1{
    grid-row: 1;
    display: grid;
    height: 180px;

    align-content: center;

    background-color: #002f6c;
    ;
 }
.commitment-h1 h1{
    padding-left: 24px;
}

/* commitment main */
.commitment-main{
    grid-row: 2;

    display: grid;
    height: 1600px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 300px 350px 450px;

    
    max-width: 2000px;
    justify-self: center;
}
.c-m-11{
    grid-column: 1;
    grid-row: 1;
    
    display: grid;
    justify-items: center;
    
    padding-top: 40px;
    background: linear-gradient(
    135deg
    ,#00a3e0 0%,#88c7eb 100%);
}
.c-m-12{
    grid-column: 2;
    grid-row: 1;

    background-image: url(../images/commitment/panels.jpg);
    background-size: cover;
}
.c-m-21{
    grid-column: 1;
    grid-row: 2;

    background-image: url(../images/commitment/kayak.jpg);
    background-size: cover;
}
.c-m-22{
    grid-column: 2;
    grid-row: 2;
    
    display: grid;
    justify-items: center;
    
    padding-top: 60px;

    background: linear-gradient(
        135deg
        ,#002f6c 0%,#004db1 100%);
}
.c-m-31{
    grid-column: 1;
    grid-row: 3;
    
    display: grid;
    justify-items: center;

    padding-top: 60px;
    
    background: linear-gradient(
135deg
,#7dab0b 0%,#8bc400 100%);
}
.c-m-32{
    grid-column: 2;
    grid-row: 3;
    
    background-image: url(../images/commitment/hands.jpg);
    background-size: cover;
}
.c-m-41{
    grid-column: 1;
    grid-row: 4;

    background-image: url(../images/commitment/hatguy.jpg);
    background-size: cover;

}
.c-m-42{
    grid-column: 2;
    grid-row: 4;
    display: grid;
    justify-items: center;
    
    padding-top: 60px;
    padding-bottom: 60px;

    background: linear-gradient(
    135deg
    ,#00a3e0 0%,#88c7eb 100%);
}
.commitment-main * h2{
    padding-left: 60px;
    padding-right: 60px;

    font-size: 40px;
} 
.commitment-main * p {
    padding-left: 60px;
    padding-right: 60px;

    color: white;
}
.commitment-main * .dark-blue {
    padding-left: 0px;
    font-size: 18px;
    color: #002f6c !important;
}
.commitment-main * .dark-blue:hover{
    text-decoration: underline #002f6c !important;
}


/* IPAD SIZE */
@media screen and (max-width: 1440px){
    .main .homemain{
        background-image: url(../../images/home/watersplashing1440.jpg);
    }
}

/* IPAD SIZE */
@media screen and (max-width: 1023px){

    /*                   */
    /*   THE MAIN PAGE   */
    .main {
        display: grid;

        grid-template-rows: auto auto;
    }

    /* MAIN the main part of the page */
    .main .homemain{

        grid-row: 1;

        height: 400px;

        background-image: url(../../images/home/watersplashing1024.jpg);
    }
    .main .homemain h1{
        width: 400px;
        margin-left: 32px;

        font-size: 30px;
    }

    /* MAIN secion below main image */
    .main .mission-purpose{
        grid-row: 2;

        display: grid;
        grid-template-columns: 1fr 1fr;
        
        height: auto;

        color: white;
        text-shadow: none;
        font-weight: 500;
    }
    .main .our-mission{
        grid-column: 1;

        height: auto;

        background-color: rgba(0, 163, 212, 0.705);
    }
    .main .our-purpose{
        grid-column: 2;

        height: 550px;

        background-color: rgb(112, 187, 0);
    }
    .main .our-mission h1, .our-purpose h1{
        height: 100px;
        align-items: flex-end;
        font-size: 36px;

        padding-left: 30px;
        padding-top: 20px;
    }
    .main .our-mission p, .our-purpose p{
        padding-left: 30px;
        padding-right: 30px;

        max-width: 550px;

        line-height: 150%;

    }
    /* END MAIN PAGE */
    /*               */

    /*---------------*/

    /*               */
    /*  ABOUT PAGE   */
    .about-container{
        display: grid;
        grid-template-rows: auto auto auto;
    }

    /*ABOUT H1*/
    .about-h1{
        grid-row: 1;
        display: grid;
        align-content: center;
        height: 120px;

        background-color: rgb(0, 68, 255);
    }
    .about-h1 h1{
        padding-left: 24px;
    }

    /* ABOUT SECTION ONE */
    .about-section-one{
        grid-row: 2;
        height: auto;

        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .about-section-one .about-section-one-tl{
        max-height: 650px;
        grid-row: 1;
        grid-column: 1;

        padding: 30px;
    }
    .about-section-one .about-section-one-br{

        grid-row: 2;
        grid-column: 2;

        max-height: 650px;

        padding: 20px;

    }
    .about-section-one .about-section-one-tr{
        grid-row: 1;
        grid-column: 2;   

        background-image: url(../images/about/aboutpageimg1_1024.jpg);
    } 
    .about-section-one .about-section-one-bl{
        grid-row: 2;
        grid-column: 1;   

        background-image: url(../images/about/aboutpageimg2_1024.jpg);
    } 
    .about-section-one * h2{
        font-size: 36px;
        padding-bottom: 24px;
    }
    .about-section-one * p{
        max-width: 400px;
        line-height: 150%;
    }

    /* ABOUT SECTION TWO */
    .about-section-two{
        grid-row: 3;
        max-height:auto;

        padding: 14px;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        background-color: white;
    }
    .about-section-two .about-section-two-l {
        grid-column: 1;
        min-height:700px;
    }
    .about-section-two .about-section-two-r{
        grid-column: 2;
    }
    .about-section-two * h2{
        padding-left: 10px;
        padding-right: 10px;
        color: rgb(0, 0, 184);
    }
    .about-section-two * p{
        padding-left: 10px;
        padding-right: 10px;
        max-width: 400px;

        color: rgba(0, 0, 0, 0.800);
        font-size: 16px;
        line-height: 150%;
    }   
    /* END ABOUT PAGE */
    /*                */

    /*----------------*/

    /*                */
    /*  NEWSROOM PAGE */
    .newsroom-container{
        display: grid;
        grid-template-rows: auto auto auto auto;
    }

    /* newsroom h1 */
    .newsroom-h1{
        grid-row: 1;
        display: grid;
        align-content: center;
        height: 120px;

        background-color: rgb(0, 68, 255);
    }
    .newsroom-h1 h1{
        padding-left: 24px;
    }

    /* newsroom press releases */
    .newsroom-press-releases{
        grid-row: 2;
        display: grid;
        align-content: end;
        height: 150px;

        padding-bottom: 12px;
    }
    .newsroom-press-releases h2{
        padding-left: 24px;
        font-size: 40px;
        font-weight: 800;
        color: rgb(0, 68, 255);

        margin-bottom: 12px;
    }
    .newsroom-press-releases span{
        padding-left: 24px;
        color: black;
    }

    /* newsroom news container */
    .newsroom-news-container{
        grid-row: 3;
        height: 1400px;
        grid-template-rows: repeat(7, 1fr);
    }
    .news-item{
        display: grid;
        height: 200px;
        grid-template-columns: .3fr 2fr;
        border-top: 1px solid grey;
    }
    .news-item .news-left{
        grid-column: 1;
        width: 150px;
        padding: 20px;

        display: grid;
        align-content: center;
        justify-content: center;
    }
    .news-item .news-right{
        grid-column: 2;
        width: 600px;
        padding: 12px;
    }
    .news-item * img{
        height: 24px;
        width: 24px;

        cursor: pointer;
        
        margin-left: 8px;
    }
    .news-item * p{
        padding-left: 10px;

        color: black;
        font-size: 16px;
        font-weight: 600;
    }
    .news-item * h1{
        color: rgb(94, 94, 94);
        text-shadow: none;
    }
    .news-item * span{
        color: rgb(94, 94, 94);
        font-size: 16px;
        line-height: 175%;
        font-weight: 600;
    }
    .news-item * h5{
        color: rgb(0, 68, 255);
        padding-left: 10px;
        font-size: 22px; 
        cursor: pointer;

        line-height: 175%;
    }

    /* newsroom page turner */
    .newsroom-page-turner{
        grid-row: 4;
        height: 100px;

        display: grid;
        align-content: center;
    }
    .newsroom-page-turner ul{
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        width: 400px;

        padding-left: 20px;
        
        justify-items: center;
        align-items: center;
    }
    .newsroom-page-turner ul li{
    list-style-type: none; 
    display:inline;

    color: black;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

    padding: 12px;
    }
    .newsroom-page-turner ul li:nth-of-type(1){
        background-color:  rgb(0, 68, 255);
        border-radius: 50px;
        color: white;
    }
    /* END NEWSROOM PAGE */
    /*                   */

    /*-------------------*/

    /*                   */
    /*   CAREERS PAGE    */
    .careers-container{
        display: grid;
        grid-template-rows: auto auto auto;
    }

    /* careers h1 */
    .careers-h1{
        grid-row: 1;
        display: grid;
        height: 120px;

        justify-content: center;
        align-content: center;

        background-color: rgb(112, 187, 0);
    }
    .careers-h1 h1{
        font-size: 40px;
    }

    /* careers, a message */
    .container-careers-a-message{
        grid-row: 2;
        display: grid;
        height: 700px;
        background-color: rgb(255, 255, 255);
        align-content: center;
        justify-content: center;
    }
    .careers-a-message{
        height: 650px;
        width: 500px;
        background-color: rgb(255, 255, 255);
        
        position:relative;
        bottom: 25px;

        padding: 30px;
        margin-bottom: 30px;
    }
    .careers-a-message * img.round{
        height: 192px;
        width: 173px;

        border-radius: 173px;
        float: right;
        margin: 10px 10px 0 0; 

    }
    .careers-a-message *{
        color: rgba(0, 0, 0, 0.900);
        font-size: 16px;

        padding-top: 11px;

        line-height: 175%;
    } 

    /* careers at */
    .careers-at{
        background-color: crimson;
        grid-row: 3;
        display: grid;
        height: auto;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    .careers-at-tl{
        grid-row: 1;
        grid-column: 1;
        padding-bottom: 10px;

        background-color: rgb(50, 160, 194);
    }
    .careers-at-tr{
        grid-row: 1;
        grid-column: 2;

        background-image: url(../images/careers/hardhat.jpg);
        background-size: cover;
    }
    .careers-at-bl{
        grid-row: 2;
        grid-column: 1;
        
        background-image: url(../images/careers/hardhat2.jpg);
        background-size: cover;
    }
    .careers-at-br{
        grid-row: 2;
        grid-column: 2;
        padding-bottom: 10px;

        background-color: rgb(10, 51, 161);;
    }
    .careers-at h2, .careers-at h3{
        padding-top: 20px;
        padding-left: 20px;
    }
    .careers-at * p, 
    .careers-at * ul{
        padding-left: 20px;
        padding-right: 20px;

        max-width: 550px;

        color: white;
        font-size: 14px;
        line-height: 150%;
    }
    .careers-at * li{
        margin-left: 20px;
        margin-right: 20px;

        color: white;
        font-size: 14px;
        line-height: 150%;
        font-weight: 600;
        text-decoration: dotted;
        cursor: auto; 
    }
    .careers-at-tl button{
        height: 50px;
        width: 150px;
    }
    .careers-at-br button{
        height: 50px;
        width: 150px;
    }
    .careers-at-br button:hover{
        background-color: white;
        color: rgb(10, 51, 161);
    }
    .special{
        font-size: 14px;
    }

    /* END CAREERS  PAGE */
    /*                   */

    /*-------------------*/

    /*                   */
    /*  COMMITMENT PAGE  */
    .commitment-container{
        display: grid;
        grid-template-rows: auto auto;
    }
    /* commitment h1 */
    .commitment-h1{
        grid-row: 1;
        display: grid;
        height: 120px;

        align-content: center;

        background-color: rgb(0, 68, 255);
    }
    .commitment-h1 h1{
        padding-left: 24px;
    }

    /* commitment main */
    .commitment-main{
        grid-row: 2;

        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto, auto)
    }
    .c-m-11{
        grid-column: 1;
        grid-row: 1;
        
        display: grid;
        justify-items: center;
        
        padding-top: 20px;
        background-color: rgba(2, 181, 235, 0.767);
    }
    .c-m-12{
        grid-column: 2;
        grid-row: 1;

        background-image: url(/images/commitment/panels.jpg);
        background-size: cover;
    }
    .c-m-21{
        grid-column: 1;
        grid-row: 2;

        background-image: url(/images/commitment/kayak.jpg);
        background-size: cover;
    }
    .c-m-22{
        grid-column: 2;
        grid-row: 2;
        
        display: grid;
        justify-items: center;
        align-content: center;
        
        padding-top: 20px;

        background-color: rgba(0, 60, 255, 0.973);;
    }
    .c-m-31{
        grid-column: 1;
        grid-row: 3;
        
        display: grid;
        justify-items: center;
        align-content: center;
        padding-top: 20px;
        
        background-color: rgb(91, 151, 0);
    }
    .c-m-32{
        grid-column: 2;
        grid-row: 3;
        
        background-image: url(/images/commitment/hands.jpg);
        background-size: cover;
    }
    .c-m-41{
        grid-column: 1;
        grid-row: 4;

        background-image: url(/images/commitment/hatguy.jpg);
        background-size: cover;

    }
    .c-m-42{
        grid-column: 2;
        grid-row: 4;
        display: grid;
        justify-items: center;
        align-content: center;
        
        padding-top: 20px;
        padding-bottom: 20px;

        background-color: rgb(75, 189, 255);
    }
    .commitment-main * h2{
        padding-left: 20px;
        padding-right: 20px;

        font-size: 30px;
    } 
    .commitment-main * p {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        font-size: 14px;

        color: white;
    }
    .commitment-main * .dark-blue {
        padding-left: 0px;
        font-size: 14px;
        text-align: auto;
    }

/* IPAD SIZE */
@media screen and (max-width: 1440px){
    .main .homemain{
        background-image: url(../../images/home/watersplashing1440.jpg);
    }
}















}























/*mobile phone size*/
@media screen and (max-width: 426px) {
    body{
        max-width: 100vw;
    }
    p, span, li, a {
        font-size: 12px!important;
    }
    h1{
        font-size: 20px;
        max-width: 80vw;
    }

    .header{
        height: 80px;
    }
    .header img{
        height: 46px;
        width: 70px;
    }
    .header * li{
        padding-right: 11px;
        font-size: 10px!important;
    }

    .footer ul li{
        display:list-item;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .main{
        height: auto;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    .main .homemain {
        max-height: 400px;
    }
    .main .mission-purpose{
        height: auto;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    .main .mission-purpose .our-mission{
        grid-column: 1;
        grid-row: 1;
        height: 220px;
    }
    .main .mission-purpose .our-purpose{
        grid-column: 1;
        grid-row: 2;
        height: 320px;
    }
    .main .mission-purpose h1{
        font-size: 30px;
    }

    /*  ABOUT PAGE   */
    .about-container{
        display: grid;
        grid-template-rows: auto auto auto;
    }

    /*ABOUT H1*/
    .about-h1{
        grid-row: 1;
        height: 80px;
    }
    /* ABOUT SECTION ONE */
    .about-section-one{
        grid-row: 2;
        height: auto;

        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
    }
    .about-section-one .about-section-one-tl{
        grid-row: 1;
        grid-column: 1;
    }
    .about-section-one .about-section-one-br{
        grid-row: 3;
        grid-column: 1; 
        height: 180px;

        background-color: rgb(112, 187, 0);
    }
    .about-section-one .about-section-one-tr{
        grid-row: 2;
        grid-column: 1; 
        height: 250px;

        background-image: url(/images/about/aboutpageimg1.jpg);
        background-size: cover; 
    } 
    .about-section-one .about-section-one-bl{
        grid-row: 4;
        grid-column: 1; 

        background-image: url(/images/about/aboutpageimg2.jpg);
        background-size: cover; 

        height: 250px;
    } 
    .about-section-one * h2{
        font-size: 36px;
    }
    .about-section-one * p{
        max-width: 500px;
        line-height: 150%;
    }

    /* ABOUT SECTION TWO */
    .about-section-two{
        grid-row: 3;
        min-height: 400px;
        max-height: 1200px;

        margin-top: 20px;
        
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
    .about-section-two .about-section-two-l {
        grid-row: 1;
        grid-column: 1;
        min-height: 400px;

        padding-bottom: 40px;
    }
    .about-section-two .about-section-two-r{
        grid-row: 2;
        grid-column: 1;
        
        padding-bottom: 40px;
    }
    .about-section-two * h2{
        padding-left: 10px;
        padding-right: 10px;
        color: rgb(0, 0, 184);
    }
    .about-section-two * p{
        padding-left: 10px;
        padding-right: 10px;
        max-width: 500px;

        color: rgba(0, 0, 0, 0.800);
        font-size: 16px;
        line-height: 175%;
    }   
    /* END ABOUT PAGE */
    /*                */
    /*  NEWSROOM PAGE */
    .newsroom-container{
        display: grid;
        grid-template-rows: auto auto auto auto;
    }

    /* newsroom h1 */
    .newsroom-h1{
        grid-row: 1;
        display: grid;
        align-content: center;
        height: 80px;

        background-color: rgb(0, 68, 255);
    }
    .newsroom-h1 h1{
        padding-left: 24px;
    }

    /* newsroom press releases */
    .newsroom-press-releases{
        grid-row: 2;
        width: 80vw;
        display: grid;
        align-content: end;
        max-height: 150px;

        padding-bottom: 12px;
    }
    .newsroom-press-releases h2{
        font-size: 20px;
        font-weight: 700;
    }

    /* newsroom news container */
    .newsroom-news-container{
        grid-row: 3;
        height: auto;
        grid-template-rows: repeat(7, auto);
    }
    .news-item{
        display: grid;
        min-height: 170px;
        grid-template-columns: 40px 2fr;
        border-top: 1px solid grey;
    }
    .news-item .news-left{
        grid-column: 1;
        width: 20vw;
        padding: 20px;

        display: grid;
        align-content: center;
        justify-content: center;
    }
    .news-item .news-right{
        grid-column: 2;
        width:80vw;
        padding: 12px;
    }
    .news-item * img{
        height: 16px;
        width: 16px;

        cursor: pointer;
        
        margin-left: 8px;
    }
    .news-item * p{
        padding-left: 10px;

        color: black;
        font-size: 16px;
        font-weight: 500;
    }
    .news-item * h1{
        color: rgb(94, 94, 94);
        text-shadow: none;
    }
    .news-item * span{
        color: rgb(94, 94, 94);
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
    }
    .news-item * h5{
        padding-left: 10px;
        font-size: 12px; 
    }

    /* newsroom page turner */
    .newsroom-page-turner{
        grid-row: 4;
        height: 20px;

        display: grid;
        align-content: center;
    }
    .newsroom-page-turner ul{
        display: grid;
        grid-template-columns: repeat(11, 25px);
        width: 98vw;

        padding: 0px;
        
        justify-items: center;
        align-items: center;
    }
    .newsroom-page-turner ul li{
    list-style-type: grid; 
    display:inline;

    color: rgba(0, 0, 0, 0.80);
    font-size: 10px!important;
    font-weight: 600;

    }
    .newsroom-page-turner ul li:nth-of-type(1){
        border-radius: 0px;
        background-color: white;
        color: rgba(0, 0, 0, 0.8);
    }
    /* END NEWSROOM PAGE */
    /*                   */
    
    /*                   */
    /*   CAREERS PAGE    */
    .careers-container{
        display: grid;
        height: auto;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }

    /* careers h1 */
    .careers-h1{
        grid-row: 1;
        grid-column: 1;
        display: grid;
        height: 105px;

        justify-content: center;
        align-content: center;

        background-color: rgb(112, 187, 0);
    }
    .careers-h1 h1{
    text-align: center;
    text-justify: center;
    font-size: 15px!important;
    padding-bottom: 25px;
    }

    /* careers, a message */
    .container-careers-a-message{
        grid-row: 2;
        grid-column: 1;
        display: grid;
        height: auto;
        background-color: rgb(255, 255, 255);
        align-content: center;
        justify-content: center;
    }
    .careers-a-message{
        height: 500px;
        width: 100vw;
        background-color: rgb(255, 255, 255);
        
        display: grid;
        bottom: 25px;

        padding-left: 15px;
        margin-bottom: 0px;
    }
    .careers-a-message * img.round{
        height: 192px;
        width: 173px;
        display: none;

        border-radius: 173px;
        float: right;
        margin: 10px 10px 0 0; 

    }
    .careers-a-message *{
        color: rgba(0, 0, 0, 0.900);
        font-size: 12px;

        padding-top: 0px;

        line-height: 150%;
    } 

    /* careers at */
    .careers-at{
        background-color: crimson;
        grid-row: 3;
        grid-column: 1;
        display: grid;
        height: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .careers-at-tl{
        grid-row: 1;
        grid-column: 1;

        padding-bottom: 10px;

        background-color: rgb(50, 160, 194);
    }
    .careers-at-tr{
        grid-row: 2;
        grid-column: 1;

        background-image: url(/images/careers/hardhat.jpg);
        background-size: cover;
    }
    .careers-at-bl{
        grid-row: 4;
        grid-column: 1;
        
        background-image: url(/images/careers/hardhat2.jpg);
        background-size: cover;
    }
    .careers-at-br{
        grid-row: 3;
        grid-column: 1;
        
        padding-bottom: 10px;

        background-color: rgb(10, 51, 161);;
    }
    .careers-at h2, .careers-at h3{
        padding-top: 10px;
        padding-left: 10px;
    }
    .careers-at * p, 
    .careers-at * ul{
        padding-left: 14px;
        padding-right: 14px;

        max-width: 90vw;

        color: white;
        font-size: 18px;
        line-height: 150%;
    }
    .careers-at * li{
        margin-left: 10px;
        margin-right: 10px;

        color: white;
        font-size: 12px;
        line-height: 175%;
        font-weight: 600;
        text-decoration: dotted;
        cursor: auto; 
    }
    .careers-at-tl button{
        margin-left: 14px;
        height: 30px;
        width: 120px;

        font-size: 12px;
        text-transform: uppercase;
        color: white;

        background-color: rgb(50, 160, 194);
        border: 1px solid white;
        border-radius: 40px;
    }
    .careers-at-tl button:hover{
        background-color: white;
        color: rgb(50, 160, 194);
    }
    .careers-at-br button{
        margin-left: 14px;
        height: 30px;
        width: 120px;

        font-size: 12px;
        text-transform: uppercase;
        color: white;

        background-color: rgb(10, 51, 161);
        border: 1px solid white;
        border-radius: 40px;
    }
    .careers-at-br button:hover{
        background-color: white;
        color: rgb(10, 51, 161);
    }

    /* END CAREERS  PAGE */
    /*                   */
        /*  COMMITMENT PAGE  */
    .commitment-container{
        display: grid;
        grid-template-rows: auto auto;
    }
    /* commitment h1 */
    .commitment-h1{
        grid-row: 1;
        display: grid;
        height: 80px;
    }

    /* commitment main */
    .commitment-main{
        grid-row: 2;

        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
    }
    .c-m-11{
        grid-column: 1;
        grid-row: 1;
        
        display: grid;
        justify-items: center;
        
        padding-top: 20px;
        padding-bottom: 0px;
        background-color: rgba(2, 181, 235, 0.767);
    }
    .c-m-12{
        grid-column: 1;
        grid-row: 2;

        height: 250px;
        background-image: url(/images/commitment/panels.jpg);
        background-size: cover;
    }
    .c-m-21{
        grid-column: 1;
        grid-row: 4;
        height: 250px;

        background-image: url(/images/commitment/kayak.jpg);
        background-size: cover;
    }
    .c-m-22{
        grid-column: 1;
        grid-row: 3;
        
        display: grid;
        justify-items: center;
        
        align-items: center;
        
        padding-top: 20px;
        padding-bottom: 0px;

        background-color: rgba(0, 60, 255, 0.973);;
    }
    .c-m-31{
        grid-column: 1;
        grid-row: 5;
        
        display: grid;
        justify-items: center;
        
        align-items: center;

        padding-top: 20px;
        padding-bottom: 0px;
        
        background-color: rgb(91, 151, 0);
    }
    .c-m-32{
        grid-column: 1;
        grid-row: 6;
        
        height: 250px;
        
        background-image: url(/images/commitment/hands.jpg);
        background-size: cover;
    }
    .c-m-41{
        grid-column: 1;
        grid-row: 8;
        
        height: 250px;

        background-image: url(/images/commitment/hatguy.jpg);
        background-size: cover;

    }
    .c-m-42{
        grid-column: 1;
        grid-row: 7;
        display: grid;
        justify-items: center;
        
        align-items: center;
        
        padding-top: 20px;
        padding-bottom: 0px;

        background-color: rgb(75, 189, 255);
    }
    .commitment-main * h2{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 4px;

        font-size: 20px;
    } 
    .commitment-main * p {
        padding-left: 20px;
        padding-right: 20px;

        color: white;
    }
    .commitment-main * .dark-blue {
        padding-left: 0px;
    }



}
